@import "bootstrap.css";
//.img-responsive{
//  display: block;
//  max-width: 100%;
//  height: auto;
//}
body{
  padding-bottom:80px;
  //padding-top:30px;
  //background:#eee;
}
ul,li{
  padding:0;
  margin:0;
  list-style:none;
}
p{
  padding:0;
  margin:0;
}
#top{
  span{
    background:#fff;
    line-height:30px;
    width:30px;
    text-align: center;
  }
  position:fixed;
  z-index:50;
  background:#fff;
  color:#ff650b;
  height:30px;
  width:30000px;
  transition:all 480s linear;
  line-height:30px;
  overflow: hidden;
  ul li{
    float:left;
    padding-right:4em;
  }
}



#banner{
  padding:0 1%;
  position:relative;
  .banner-charge{
    position:absolute;
    bottom:2%;
    left:43%;
    color:#fff;
    b{
      font-size:1.4em;
    }
    a.btn{
      background:#fff;
      font-size:1.2em;
      padding:4% 20%;
    }
  }
}
#menu{
  >div.menu-item{
    width:50%;
    float:left;
    cursor: pointer;
  }
}
.award-head{
  border-bottom: 1px solid #EEEEEE;
  .head-time{
    margin-left:2%;
    position:relative;
    top:5px;
    display:inline-block;
    background-image: url(../resource/images/t.png);
    background-repeat: no-repeat;
    width:20px;
    height:20px;
    font-size: .26rem;
    color: #FFFFFF;
  }
}
.award-body.left-body{
  border-right: 1px solid #e5e5e5;
}
.award-body{
  float:left;
  width:50%;
  padding:1% 2%;
  text-align:center;
  .award-body-title{
    margin:1% 0 2%;
  }
  .award-body-price{
    b{
      color: #ff650b;
      font-size: 1.4rem;
      font-weight: bold;
    }
    a{
      display:inline-block;
      /* margin-right: .2rem; */
      margin-left: 3%;
      border-radius: 5px;
      border: 1px solid #ff650b;
      color: #ff650b;
      font-size: .28rem;
      line-height: 1.2;
      text-align: center;
      padding:4% 6%;
    }
  }
}
.award-img{
  margin:1% 3% ;

}

.clear:after{
  content:"";
  display:block;
  clear:both;
}
#footer {
  background:#eee;
  //position:fixed;
  //bottom:0;
  padding:0;
  margin:0;
  list-style:none;
  text-align:center;
  li{
    float:left;
    width:25%;
    padding-top:2%;
    a{
      text-decoration: none;
      color:#9B9B9B;;
    }

  }
  li.active{
    background: #ff650b;
    a{
      color:#fff;
    }
    border-radius:4px;
  }
}
.hasMore{
  text-align:center;
  margin-top:10px;
  color:#ddd;
}
#order-top{
  >div{
    float:left;
    width:50%;
    text-align: center;
    padding:2% 0;
    font-size:1.2em;
    font-weight:500;
  }
  div.active{
    border-bottom: 3px solid #F6A623;
    color: #FF650C;
  }
}
#record{
  .record-item{
    background:#ccc;
  }
  .list{
    padding:2% 0;
    background:#fff;
    margin:2% 0;
    .check.success{
      background:#e4393c;
    }
    .btn.success{
      background:#e4393c;
      color:#fff;
    }
    .col-xs-4{
      padding-right:0;
    }

  }
  .list-mid{
    border:1px solid #ddd;
    border-left:none;
    border-right:none;
    margin:.8% 0;
    >div{
      padding-left:0;
    }
  }
}
>div#dd{
  padding-left:0;
}
#order-body{
  .buy{
    text-align: center;

    >span{
      display:inline-block;
      padding:2%;
      border:1px solid #888;
      border-radius:50%;
      margin:0 1%;
      width:18%;
    }
    >span.check{
      background:#aaa;
    }
    >div{
      ul{
        display:flex;
        justify-content: space-between;
      }
      ul li{
        border-radius:50%;
        padding:1% 2%;
      }
      ul li.check{
        background:#aaa;
        border-radius:50%;
      }
      ul li.check.success{
        background:#e4393c;
      }
    }
  }
  .red{
    color:#e4393c;
    margin:2% 0;
    font-weight:700;
  }
  .buy-again{
    a{
      padding:2% 4%;
      border:1px solid #ff650b;
      color:#ff650b;
      text-decoration:none;
      border-radius:4px;
    }
  }
}
#open{
  display:none;
  div.result{
    padding:2% 0 2% 20%;
    color:#aaa;
  }
  .title.row{
    padding:2%;
    text-align: center;
    background: #FF650C;
    //>div>div{
    //  width:80%;
    //}
    .col-xs-4{
      padding:5%;
    }
    div.wrap{
      p{
        display:inline-block;
        font-size:0.8em;
        color:#fff;
      }
      padding:2% 0;
      border:1px solid #fff;
      border-radius:2px;
    }
  }
  .result-item{
    border:1px solid #eee;
    padding:2%;
    .col-xs-8{
      padding-left:5%;
    }
    .col-xs-4>.row{
      padding-top:6%;
    }
    color:#aaa;
    .body-time{
      padding:2%;
      font-size:1.1em;
    }
    .body-number{
      b{
        display:inline-block;
        width:12%;
        font-size:1.1em;
        color:#fff;
        text-align: center;
        border-radius:50%;
        background: #999999;
      }
      b.sum{
        background: #FF650C;
      }
    }
  }
  .col-xs-3{
    span{
      display:inline-block;
      padding:4%;
      text-align: center;
      color:#fff;
      width:2em;
      height:2em;
      line-height:2em;
      border-radius:3px;
    }

  }
  .col-xs-3{
    span.large{
      background: #63B8FF;
    }
  }
  .col-xs-3{
    span.double{
      background: #E4254F;
    }
    span.small0{
      background: #48D1CC;
    }
    span.single{
      background: #F6A623;
    }
  }
}
div.hasMore{
  color:#888;
  padding-bottom:2%;
  border-bottom:1px solid #eee;
}
#detail{
  .timer{
    color:red;
  }
  .buy-box{
    border:1px solid #eee;
    border-left:none;
    border-right:none;
    padding:1% 0;
    margin:2% 0;
    b,.username{
      color:red;
    }
    .row{
      padding:0 2%;
    }
  }
  .tab-content{
    padding:2%;
    p.red{
      color:red;
      font-weight:700;
    }
  }
  #bottom{
    z-index: 50;
    border-top:1px solid #eee;
    .left{
      background: #fff;
      padding-left:8%;
      line-height:3em;
      b{
        font-size:1.4em;
        color:#ff650b;
      }
    }
    .right{
      padding:2% 0;
      background:#ff650b;
      color:#fff;
      font-size:1.4em;
    }
  }

}

#modal{
  padding-top:2%;
  position:fixed;
  z-index: 100;
  bottom:0;
  background:#fff;
  .bigOne{

  }
  .title{
    text-align: center;
    padding:2% 0;
  }
  .modal-title{
    border:1px solid #eee;
    border-left:none;
    border-right:none;
    .img-title{
      border:1px solid #eee;
      height:110%;
    }
    b{
      font-size:1.4em;
      color:#ff650b;
    }
  }
  .modal-body{

    >.row{
      padding:2% 0;
      .col-xs-10{
        padding:0 8%;
        ul li{
          float:left;
          border:1px solid #eee;
          margin:1% 2%;
          width:16%;
          padding:2% 0;
          text-align: center;
          border-radius:50%;
        }
        ul li.check{
          border-color:transparent;
          background:#ff650b;
          color:#fff;
        }
      }
    }
    span{
      font-size:1em;
      border:2px solid #eee;
      border-radius:50%;
      box-shadow:0 0 6px #eee;
      padding:25%;
      display:inline-block;
    }
    span.check{
      background: #ff650b;
      border:none;
      color:#fff;
    }
  }
  .buy-count{
    padding:0 4%;
    ul li{
      border:1px solid #eee;
      text-align: center;
      box-sizing:border-box;
      float:left;
      width:23%;
      padding:1% 0;
      margin:1% 1%;
      border-radius:4px;
    }
    ul li.check{
      border-color:#ff650b;
    }
  }
  .buy-bottom{
    text-align: center;
    padding:2% 0 ;
    b{
      color:#ff650b;
    }
    .red{
      color:red;
    }
  }
  .foot{
    text-align: center;
    p {
      background: #eee;
      padding:2% 0 ;
    }
    p.charge{
      background:#ff650b;
      color:#fff;
    }
  }
}
#tab-title{
   padding:3% 0;
  .btn-group{
    button{
      padding:6px 28px;
      color:#888;
      outline:none;
    }
    button.active{
      background:#ff650b;
      color:#fff;
      border-color:transparent;
    }
  }
}
#tab-list{
  .rank-top{
    text-align: center;
    background: #ff650b;
    .rank-top-item{

      .rank-top-avatar{
        padding:2% 6%;

        border-radius:50%;
        img{
          border: 2px solid #F9C900;
          border-radius:50%;
        }
      }
    }

  }
}

#user-top{
  color:#fff;
  padding:2%;
  padding-left:4%;
  background: #ff6637;
  a{
    color:#fff;
  }
  >.row{
    padding:6% 2%;
    .myCode{
      font-size:0.8em;
      margin-top:20%;
    }
    .idCode{
      margin-top:30%;
    }
  }
  .col-xs-offset-3{
    >.row>div{
      margin:0;
    }
    text-align: center;
    .qcode{
      max-width:50%;
      position:relative;
      left:25%;
    }
  }

}

#user-body{

  >div{
    >div:first-child{
      padding:2% 0;
    }
    span{
      color:#ff650b;
    }
    >div.row{
      color:#ff650b;
      a {
        color:#ff650b;
        text-decoration: none;
      }

    }
    background:#fff;
    padding:2%;
  }
  .agent{
    border-top:1px solid #eee;
    margin-bottom:10%;
    span{
      color:#00aaff;
    }
  }
}
.wallet-top{
  min-height:400px;
  box-sizing: border-box;
  padding-top:150px;
  h1{
    font-size:5em;
    color:#ff650b;
  }
}
.wallet-bottom{
  padding:0 10%;
  button.charge{
    background:#ff650b;
    color:#fff;
    margin-bottom:10%;
  }
}
.card{
  padding-top:15%;
  color:#007aff;
}
.agent-top{
  background: #E34145;
  text-align: center;
  color:#fff;
  padding-bottom:8%;
  h4{
    padding-top:10%;
  }
  button{
    background:#E34145 ;
    border:1px solid #ddd;

  }
}
.agent-mid{
  margin-bottom:2%;
  background:#fff;
  padding:5% 0;
  font-size:1.2em;
  .agent-count{
    color:#E34145;
    font-size:1.4em;
    padding:2% 0;
  }
  .btn{
    background:#fff;
    color:#E34145;
    border-color:#E34145;
    padding:2% 8%;
  }
}
.agent-bottom{
  background:#fff;
  padding:5% 15%;
  .btn{
    background:#ff650b;
    color:#fff;
    padding:2% 10%;
    margin-top:5%;
    font-size:1.2em;
  }
}
.exchange-bottom{
  padding-top:2%;
  border-top:1px solid #ddd;
  >div{
    padding-left:1%;
    padding-right:1%;
    a{
      background:#ddd;
      color:#666;
    }
  }
}
#exchange-right{
  display:none;
}
#exchange-left{
  a.active{
    background:#ff650b;
    color:#fff;
  }
  .order-list{
    padding:1% 0;
    background:#eee;
  }
  .order-item{
    border:1px solid transparent;
    .new{
      color:#00ddaa;
    }
    background:#fff;
    margin-bottom:3%;
    .row:nth-child(1){
      border:1px solid #eee;
      padding:1%;
    }
    .row .col-xs-6.mid-title{
      padding:3% 0;
    }
    .row .times{
      padding:0;
      font-size:1.2em;
      padding-top:5%;
    }
    p.title{
      font-size:1.1em;
    }
  }
  .order-item.check{
    border:1px solid #ff650b;
    box-shadow:0 0 3px #ff650b ;
  }
}
.sure-info{
  h5{
    font-weight:bold;
  }
}
.sure-bottom{
  border-top:1px solid #eee;
  padding-top:2%;
  padding-left:2%;
  h3{
    color:#ff650b;
    padding:0;
    margin:0;
  }
  .btn1{
    color:#fff;
    background:#ff650b;
    padding:4%;
    font-size:1.2em;
    a{
      display:inline-block;
      width:100%;
      height:100%;
      color:#fff;
      text-decoration: none;
    }
  }
}
.sure-sell{
  margin-bottom:5%;
  padding:1% 0;
  .sure-sell-item{
    margin:2% 0;
    .title-mid{
      border:1px solid #eee;
      padding:1%;
      .col-xs-6{
        padding:2% 0;
        p.title{
          font-size:1.1em;
        }
      }
      .col-xs-2{
        font-size:1.2em;
        padding-top:5%;
      }
    }

  }
  .total{
    border-bottom:1px solid #eee;
    padding:2% 1%;
  }
}
.tihuo-info{
  padding-top:2%;
  .address{
    background:#fff;
    padding:10% 2%;
  }
  .sure-sell{
    background:#fff;
    margin:4% 0;
    padding:4% 1%;
  }
  .send{
    padding:2%;
    background:#fff;
  }
  .ps{
    padding:4% 0;
    span{
      color:#ff650b;
    }
  }

}
.tihuo-bottom{
  background:#fff;
  padding:2% 0;
  a{
    padding:2% 10%;
    color:#fff;
    font-size:1.2em;
    background:#ff650b;
  }
}
.done{
  padding:5%;
  color:#ff650b;
  .done-top{
    span{
      padding:1%;
      color:#fff;
      background:#ff650b;
      border-radius:50%;
    }
    b{
      font-size:1.2em;
    }
  }
  .done-middle{
    margin:200px 0;
    a{
      color:#ff650b;
      font-size:1.2em;
    }
  }
  .done-bottom{
    .col-xs-6 {
      padding:3%;
      a{
        color:#ff650b;
      }
      p{
        padding:4% 0;
        font-size:1.2em;
        border:1px solid #ff650b;
      }


    }
  }
}
#myModal{
  .modal-content{
    margin-top:50%;
  }
  .modal-body{

    .modal-top{
      border-bottom:1px solid #eee;
      padding:2% 8%;
      span{
        font-size:1.4em;
        padding:5%;
        color:#fff;
        border-radius:50%;
        background:limegreen;
      }
      h4{
        color:limegreen;
      }
    }
    .modal-middle{
      margin:10% 0;

      a{
        color:#e4393c;
        padding:2% 5%;
        border:1px solid #e4393c;
        border-radius:5px;
      }
    }
    .modal-bottom{

      a{
        color:#fff;
        padding:2% 5%;
        background:#e4393c;
        border:1px solid #e4393c;
        border-radius:5px;
      }
    }
  }
}
.exchange-detail{
  h4{
    padding:2% 4%;
    border-bottom:1px solid #eee;
  }
  .detail-item{
    >.row{
      padding:2% 0;
      border-bottom:1px solid #eee;
    }
    .text-right{
      padding-top:3%;
    }
    padding:2%;
    .plus{
      color:#ff650b;
    }
  }

}




